---
import Layout from '../layouts/Layout.astro';
import ProductList from '../components/ProductsList.astro'
import MenList from '../components/MenList.astro';
import WomenList from '../components/WomenList.astro';
import Footer from '../components/Footer.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main class="font-roboto text-[#1e1e1e] uppercase text-xs">
		<section class="h-[90dvh] relative">
			<div class="flex h-full w-full">
				<div class="w-full h-full overflow-hidden">
					<img 
						class="object-cover w-full h-full"
						src="/images/Pexels Photo by EVG Kowalievska.png" alt="banner-img">
				</div>
				<div class="bottom-1/12 absolute w-3/4">
					<div class="flex flex-col gap-2">
						<h1 class="bg-white px-5 py-3 w-fit">New Autumn Collection 2025</h1>
						<p class="bg-white px-5 py-3 w-fit text-[0.7rem] font-light">Simply click anywhere in the paragraph or heading text and start typing.</p>
					</div>
				</div>
			</div>
		</section>
		<ProductList />
		<div class="h-[70dvh]">
			<div class="h-full overflow-hidden">
				<img src="/images/banner-image-one.png" alt="banner-img" class="object-cover size-full">
			</div>
		</div>
		<MenList />
		<div class="h-[70dvh]">
			<div class="h-full overflow-hidden">
				<img src="/images/banner-image-two.png" alt="banner-img" class="object-cover size-full">
			</div>
		</div>
		<WomenList />
		<Footer />
	</main>
</Layout>
