<footer class="pt-10 mx-5 md:mx-10">
    <div class="flex flex-col gap-10">
        <h3 class="font-medium text-sm">AstroW</h3>
        <div class="flex flex-col md:flex-row-reverse justify-between gap-10">
            <div>Suscribe to our newsLetter</div>
            <div class="flex gap-16">
                <div class="flex flex-col gap-2 w-full">
                    <div class="font-medium">Follow Us</div>
                    <ul class="flex justify-between md:flex-col md:gap-2 text-[0.7rem]">
                        <li>
                            Instagram
                        </li>
                        <li>
                            Twitter(x)
                        </li>
                        <li>
                            Facebook
                        </li>
                        <li>
                            TIkTok
                        </li>
                        <li>
                            Pinterest
                        </li>
                    </ul>
                </div>
                <div class="hidden md:flex flex-col gap-2">
                    <div class="font-medium">User</div>
                    <ul class="flex justify-between md:flex-col md:gap-2 text-[0.7rem]">
                        <li>
                            Instagram
                        </li>
                        <li>
                            Twitter(x)
                        </li>
                        <li>
                            Facebook
                        </li>
                        <li>
                            TIkTok
                        </li>
                        <li>
                            Pinterest
                        </li>
                    </ul>
                </div>
                <div class="hidden md:flex flex-col gap-2">
                    <div class="font-medium">Company</div>
                    <ul class="flex justify-between md:flex-col md:gap-2 text-[0.7rem]">
                        <li>
                            Instagram
                        </li>
                        <li>
                            Twitter(x)
                        </li>
                        <li>
                            Facebook
                        </li>
                        <li>
                            TIkTok
                        </li>
                        <li>
                            Pinterest
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                English(En)
            </div>
        </div>
    </div>
    <div class="pt-10">Rigth Reserved 2025, Astrow@</div>
</footer>