<header class="fixed top-0  w-full font-roboto uppercase text-[0.7rem] z-10 bg-white max-w-[1440px]">
    <div class="flex justify-between h-16 items-center px-5 md:px-10 shadow-sm">
        <ul class="flex gap-3">
            <li>Menu</li>
            <li>Search</li>
        </ul>
        <h3 class="font-bold text-lg">AstroW</h3>
        <ul class="flex gap-4">
            <li>Log in</li>
            <li>Cart(0)</li>
        </ul>
    </div>
</header>